@model WebUI.Models.CartIndexViewModel

@{ 
    ViewBag.Title = "Корзина";
    var lines = Model.Cart.Lines.Count();
}

<style>
    #cartTable td { vertical-align: middle; }
</style>

@if (lines > 0)
{
    <h2>Ваша корзина</h2>
    <table id="cartTable" class="table">
        <thead>
            <tr>
                <th>Кол-во</th>
                <th>Товар</th>
                <th class="text-right">Цена</th>
                <th class="text-right">Общая цена</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Cart.Lines)
            {
                var price = line.Product.Price;
                var rubles = (int)price;
                var cents = (int)((price - rubles) * 100);
                var total_price = line.Quantity * line.Product.Price;
                var total_rubles = (int)total_price;
                var total_cents = (int)((total_price - total_rubles) * 100);
                <tr>
                    <td class="text-center">@line.Quantity</td>
                    <td class="text-left">@line.Product.Name</td>
                    <td class="text-right">@rubles р. @cents к.</td>
                    <td class="text-right">@total_rubles р. @total_cents к. </td>
                    <td>
                        @using (Html.BeginForm("RemoveFromCart", "Cart"))
                        {
                            @Html.Hidden("ProductId", line.Product.ProductId)
                            <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Итого:</td>
                <td class="text-right">
                    @{
                        var cart = Model.Cart.ComputeTotalValue();
                        var cart_rubles = (int)cart;
                        var cart_cents = (int)((cart - cart_rubles) * 100);
                    }
                    @cart_rubles р. @cart_cents к.
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-center">
        @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "btn btn-primary" })
    </div>
}
else
{
    <div class="text-center">
        <p><b>Ваша корзина на данный момент пуста.</b>
        <p>Для начала оформления заказа выберите хотя бы одну едииницу товара в корзину.</p>
        @Html.ActionLink("Вернуться к списку товаров", "List", "Product", null,
            new { @class = "btn btn-primary" })
    </div>
}