@model Domain.Entities.Product

@{
    ViewBag.Title = "Админ-панель: редактирование товара";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        @if (Model.Name != null)
        {
            <h3>Редактирование товара "@Model.Name"</h3>
        }
        else
        {
            <h3>Добавление нового товара</h3>
        }
    </div>
    @using (Html.BeginForm("Edit", "Admin"))
    {
        <div class="panel-body">
            @Html.HiddenFor(x => x.ProductId)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "ProductId")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @if (property.PropertyName == "Description")
                        {
                            @Html.TextArea(property.PropertyName, null,
                             new { @class = "form-control", rows = 5 })
                        }
                        else
                        {
                            @Html.TextBox(property.PropertyName, null,
                             new { @class = "form-control" })
                        }
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" value="Сохранить"/>
            @Html.ActionLink("Отменить изменения и вернуться к списку", "Index", null,
            new { @class = "btn btn-default"})
        </div>
    }
</div>