@model IEnumerable<WebUI.Models.Product>

@{
    ViewBag.Title = "Админ-панель: список товаров";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Список компьютерных товаров</h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-condensed table-striped">
            <tr>
                <th class="text-right">ID</th>
                <th>Наименование</th>
                <th class="text-right">Цена</th>
                <th class="text-center">Действия</th>
            </tr>
            @foreach (var item in Model)
            {
                var price = item.Price;
                var rubles = (int)price;
                var cents = (int)((price - rubles) * 100);
                <tr>
                    <td class="text-right">@item.ProductId</td>
                    <td>@Html.ActionLink(item.Name, "Edit", new { item.ProductId })</td>
                    <td class="text-right">@rubles р. @cents к. </td>
                    <td class="text-center">
                        @using (Html.BeginForm("Delete", "Admin"))
                        {
                            @Html.Hidden("ProductId", item.ProductId)
                            <input type="submit"
                                   class="btn btn-danger btn-xs"
                                   value="Удалить" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Добавить товар", "Create", null,
            new { @class = "btn btn-default" })
        @Html.ActionLink("Пользователи", "User", null,
            new { @class = "btn btn-default" })
        @Html.ActionLink("Роли", "Index", "RoleAdmin", null,
            new { @class = "btn btn-default" })
        @Html.ActionLink("Заказы", "Index", "Order", null,
            new { @class = "btn btn-default" })
        @Html.ActionLink("Вернуться на главную страницу", "List", "Product", null,
            new { @class = "btn btn-default pull-right" })
    </div>
</div>
